@model kp4.Models.Visit

<div>
    <h4>Посещение</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Patient.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.last_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patient.patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.patronymic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicament.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicament.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Назад", "IndexForDoctor")
</p>
