@model kp4.Models.Entry

<h3>Вы уверены что хотите удалить?</h3>
<div>
    <h4>Заявка</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_patient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_patient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_doctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_doctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_schedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
