@model IEnumerable<kp4.Models.Entry>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_patient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_doctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_schedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_patient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_doctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_schedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_status)
        </td>
        <td>
            @Html.ActionLink("Посещение", "AddVisit", new { identry = item.id, }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
